main {
    .mainAdminButtons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 100px;
        margin: 0 50px 0 50px;
        .adminButtonItem {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .button {
                transform: scale(1.3);
                cursor: pointer;
                color: $mainTextColor;
                text-decoration: none;
                padding: 10px 20px;
                top: 5px;
                // font-size: $sliderTextFontSize;
                transition: all 0.5s ease;
                background-color: $thirdTextColor;
                &:hover {
                    transition: all 0.5s ease;
                    // background-color: $thirdTextColor;
                    font-size: 1.2rem;
                    background-color: $secondaryTextColor;
                }
            }
            
        }
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .mainAdminButtons {
        // grid-template-columns: repeat(3, 1fr) !important;
        .adminButtonItem {
            .button {
                transform: scale(1.15) !important;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    
}

@media screen and (max-width: 768px) {
    .mainAdminButtons {
        grid-template-columns: repeat(3, 1fr) !important;
        
    }
}

@media screen and (max-width: 600px) {
    .mainAdminButtons {
        grid-template-columns: repeat(2, 1fr) !important;
        .adminButtonItem {
            .button {
                transform: scale(1.05) !important;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .mainAdminButtons {
        grid-template-columns: repeat(1, 1fr) !important;
        
    }
}