$mainColor: #2b2b2b;
$mainColorDimmed: #424242;
$mainColorLight: #ececec;
$mainColorLightDimmed: #e7e7e7;
$mainTextColor: #ffffff;
$mainTextColorDark: #000000;
$secondaryTextColor: #00ffdd;
$secondaryTextColorDark: #00b49c;
$hoverSecondaryTextColor: #56ffe8;
$thirdTextColor: #9500ff;
$thirdTextColor2: #7e1ec2;
$thirdTextColorDimmed: #9b93a0;
$fourthTextColor: #ffd700;
$fourthTextColorDimmed: #ffec83;
$fifthTextColor: #d1fff9;
$fifthTextColorDimmed: #e4fffb;
$colorSignedIn: #9b5454;
$colorInProgress: #61a061;
$colorGray: #cecece;
$hoverColor: #687271;