main {
    .finishTournament {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .finishForm {
            background-image: linear-gradient(to right, $fifthTextColor, $fifthTextColorDimmed); 
            padding: 15px;
            // border-radius: 10px;
            opacity: 0.95;
            width: 500px;
            .selectWinners {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
            }
            .firstPlace, .secondPlace, .thirdPlace, .fourthPlace, .selectWinners {
                display: grid;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                margin-bottom: 10px;
                grid-auto-rows: 1fr;
            }
            .firstPlace {
                
            }
            .secondPlace {

            }
            .thirdPlace {

            }
            .fourthPlace {

            }
            .finishButton {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 20px;
                button, a {
                    border: none;
                    cursor: pointer;
                    color: $mainTextColor;
                    text-decoration: none;
                    padding: 10px 20px;
                    transform: scale(1.3);
                    font-size: 1.1rem;
                    text-transform: uppercase;
                    top: 5px;
                    background: linear-gradient(to bottom right, $secondaryTextColor, $thirdTextColor);
                    background-size: 100% 100%;
                    background-position:left bottom;
                    // font-size: $sliderTextFontSize;
                    transition: all 0.5s ease;
                    &:hover {
                        transition: all 0.5s ease;
                        // background-color: $thirdTextColor;
                        font-size: 1.3rem;
                        background: linear-gradient(to left, $fourthTextColor, $fourthTextColorDimmed);
                    }
                }
            }
        }
    }
}