main {
    .mainNotifications {
        display: grid;
        grid-auto-rows: 75px;
        grid-auto-flow: row;
        .notificationItem {
            display: grid;
            grid-template-columns: 1fr 3fr;
            background-image: linear-gradient(to right, $fifthTextColor, $fifthTextColorDimmed); 
            margin: 0 50px 15px 50px;
            .notificationItemDate, .notificationItemContent {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .notificationItemDate {
                background-color: $fourthTextColorDimmed;
                font-size: 1.2rem;
            }

            .notificationItemContent {
                font-size: 1.2rem;
                padding: 5px;
                &>*:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .notificationItemDate, .notificationItemContent {
        font-size: 1.1rem !important;
    }
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 768px) {
    .notificationItemDate, .notificationItemContent {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 600px) {
    .mainNotifications {
        grid-auto-rows: 150px !important;
        .notificationItem {
            grid-template-columns: none !important;
            grid-template-rows: 1fr 2fr;
        }
    }
    
}

@media screen and (max-width: 400px) {
    
}