main {
    .mainVideogames {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        margin: 0 30px 0 50px;
        .videogameItem {
            display: grid;
            grid-template-rows: 200px 1fr 3fr 1fr;
            background-image: linear-gradient(to bottom right, $fifthTextColor, $fifthTextColorDimmed); 
            margin: 0 20px 20px 0;
            .videogameItemImage {
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    width: 100%;
                    height: 100%;
                    overflow:hidden;
                    position: relative;

                    
                    a {
                        width: 100%;
                        height: 100%;
                        display:flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            position: absolute;
                            width: 150%;
                            min-height: 100%;
                            transition: all 1s ease;
                            &:hover {
                                transform: scale(1.05);
                                transition: all 1s ease;
                            }
                        }
                    }
                }
            }

            .videogameItemTitle {
                display: flex;
                justify-content: center;
                align-items: center;

                h3 a {
                    text-decoration: none;
                    color: $mainTextColorDark;
                    transition: all 1s ease;
                    &:hover {
                        transition: all 1s ease;
                        font-size: 1.3rem;
                    }
                }
            }

            .videogameItemDescription {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: justify;
                padding: 0 10px 10px 10px;
            }

            .videogameItemData {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                .ageRating {
                    background-color: $fourthTextColor;
                    margin-bottom: 10px;
                    color: $mainTextColor;
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .mainVideogames {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .videogameItemImage {
        div {
            a {
                img {
                    width: 140% !important;
                }
            }
        }
    }
    
}

@media screen and (max-width: 992px) {
    .mainVideogames {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .videogameItemImage {
        div {
            a {
                img {
                    width: 125% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    
}

@media screen and (max-width: 768px) {
    .mainVideogames {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .videogameItemImage {
        div {
            a {
                img {
                    width: 100% !important;
                }
            }
        }
    }  
}


@media screen and (max-width: 600px) {
    .videogameItemImage {
        div {
            a {
                img {
                    width: 150% !important;
                }
            }
        }
    }  
}

@media screen and (max-width: 400px) {
    .videogameItemImage {
        div {
            a {
                img {
                    width: 175% !important;
                }
            }
        }
    }  
}