{% extends 'base.html.twig' %}

{% block title %}Edit Notification{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">


<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Edit Notification</h1></div>
    </div>
    <div class="mainAdminContent">
        {{ include('notification/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('notification_index') }}">back to list</a>

        {{ include('notification/_delete_form.html.twig') }}
    </div>

</main>



</div>

{% endblock %}
