{% extends 'base.html.twig' %}

{% block title %}New Notification{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Create new Notification</h1></div>
    </div>
    <div class="mainAdminContent">
        {{ include('notification/_form.html.twig') }}

        <a href="{{ path('notification_index') }}">back to list</a>
    </div>

</main>
    

</div>

{% endblock %}
