{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Admin Page</h1></div>
    </div>
    <div class="mainAdminButtons">
        <div class="adminButtonItem">
            <a class="button" href="/verifyusers">Verify users</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/points">Points</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/province">Province</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/tournament">Tournament</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/user">User</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/videogame">VideoGame</a>
        </div>
        <div class="adminButtonItem">
            <a class="button" href="/notification">Notification</a>
        </div>
    </div>

</main>


</div>

{% endblock %}