{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<a href="/verifyusers">Verify users</a><br>
<a href="/points">Points</a><br>
<a href="/province">Province</a><br>
<a href="/tournament">Tournament</a><br>
<a href="/user">User</a><br>
<a href="/videogame">VideoGame</a><br>

{% endblock %}