{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>My Notifications</h1></div>
    </div>


{% if notifications == null %}
    <div class="notFound"><p>There aren't any recorded Notifications...</p></div>
{% else %}
    <div class="mainNotifications">
    {% for notification in notifications %}
        <div class="notificationItem">
            <div class="notificationItemDate">
                <p>{{notification.creationDate|date('Y-m-d  H:i')}}</p>
            </div>
            <div class="notificationItemContent">
                {{notification.text|raw}}
            </div>
            
            
        </div>

    {% endfor %}
    </div>
{% endif %}

</main>

</div>

{% endblock %}