{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>


<h2>My Notifications</h2>

{% if notifications == null %}
    <p>There aren't any recorded Notifications...</p>
{% else %}
    <ul>
    {% for notification in notifications %}
        <li>
            {{notification.text|raw}}
            <h5>{{notification.creationDate|date('Y-m-d  H:i:s')}}</h5>
        </li>

    {% endfor %}
    </ul>
{% endif %}

{% endblock %}