{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<h2>All Provinces</h2>
<ul>
{% for province in provinces %}
    <li>
        <h3><a href="/seeprovince/{{province.id}}">{{province.name}}</a></h3>
        <img src="/img/{{province.image}}" width="300px"/>
        <p>{{province.description}}</p>
    </li>
{% endfor %}
</ul>

{% endblock %}
