{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}

<h1>Tournament Master</h1>
{% if is_granted("ROLE_USER") %}
    Hello, {{app.user.email}} - <a href="/logout">Logout</a><br>
{% else %}
    <a href="/register">Register</a> or <a href="/login">Login</a>
{% endif %}
<br>

<hr>

<h2>Unverified Users</h2>
{% if allusers != null %}
    <ul>
    {% for user in allusers %}
        <li>
            <p>{{user.email}} - <a href="/verify/{{user.id}}">verify</a> <a href="/user/{{user.id}}">show</a></p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    There isn't any unverified users.
{% endif %}

{% endblock %}
