{% extends 'base.html.twig' %}

{% block title %}Tournament Master{% endblock %}

{% block body %}


<h2>Unverified Users</h2>
{% if allusers != null %}
    <ul>
    {% for user in allusers %}
        <li>
            <p>{{user.email}} - <a href="/verify/{{user.id}}">verify</a> <a href="/user/{{user.id}}">show</a></p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    There isn't any unverified users.
{% endif %}

{% endblock %}
