{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Create Tournament</h1></div>
    </div>

    <div class="create">
        <div class="form">
            {# <div class="linkSection"><a href="/">Home</a> <a href="/login">Log In</a></div> #}
            

            {{ include('tournament/_form.html.twig') }}

            {# <a href="{{ path('tournament_index') }}">back to list</a> #}
        </div>
    </div>

</main>

</div>

{% endblock %}
