{% extends 'base.html.twig' %}

{% block title %}Edit VideoGame{% endblock %}

{% block body %}

<div class="slider common">
    {# <img src="/img/slider1.jpg"/> #}
</div>

<div class="body">

<main>
    <div class="mainHeader">
        <div class="mainHeaderTitle"><h1>Edit VideoGame</h1></div>
    </div>
    <div class="mainAdminContent">
        {{ include('video_game/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('video_game_index') }}">back to list</a>

        {{ include('video_game/_delete_form.html.twig') }}
    </div>

</main>

</div>

{% endblock %}
